n8n_save_comment.json
{
  "name": "save-comment",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "save-comment",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "manager_comments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_name": "={{ $json.body.client_name }}",
            "comment":     "={{ $json.body.comment }}",
            "updated_at":  "={{ $json.body.updated_at }}",
            "login":       "={{ $json.body.login }}"
          },
          "matchingColumns": ["client_name"],
          "schema": [
            { "id": "client_name", "displayName": "client_name", "required": false, "defaultMatch": true,  "canBeUsedToMatch": true, "display": true, "type": "string" },
            { "id": "comment",     "displayName": "comment",     "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string" },
            { "id": "updated_at",  "displayName": "updated_at",  "required": false, "defaultMatch": false, "canBeUsedToMatch": false,"display": true, "type": "string" },
            { "id": "login",       "displayName": "login",        "required": false, "defaultMatch": false, "canBeUsedToMatch": false,"display": true, "type": "string" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
