n8n_generate_email.json
{
  "name": "generate-email",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-email",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const data = $json.body;\nconst style = data.style || 'официальный';\n\nconst styleDesc = {\n  'мягкий':      'Мягкий, вежливый тон. Первое напоминание. Предположи, что оплата задержалась по техническим причинам.',\n  'официальный': 'Официально-деловой тон. Нейтральный, корректный, по существу.',\n  'строгий':     'Строгий тон. Укажи на длительность просрочки, необходимость срочной оплаты, возможные последствия (пени, приостановка отгрузок).'\n};\n\nconst fmtAmt = n => {\n  if (!n) return '0 руб.';\n  if (Math.abs(n) >= 1e6) return (n / 1e6).toFixed(2) + ' млн руб.';\n  return (n / 1e3).toFixed(0) + ' тыс. руб.';\n};\n\nconst docLines = (data.docs || []).map(d => {\n  let line = `  - УПД №${d.doc_num} от ${d.doc_date}`;\n  if (d.due_date) line += `, срок оплаты: ${d.due_date}`;\n  line += `, сумма: ${fmtAmt(d.amount)}`;\n  if (d.over_amt > 0) line += ` (просрочено: ${fmtAmt(d.over_amt)}, ${d.days_overdue} дн.)`;\n  return line;\n}).join('\\n') || '  (документы не указаны)';\n\nconst prompt = `Ты помощник менеджера транспортной компании ООО \"ТК ВЕЛЕС\".\nНапиши деловое письмо клиенту с просьбой об оплате задолженности.\n\nКлиент: ${data.client_name}\nСтиль: ${styleDesc[style] || styleDesc['официальный']}\n\nОбщий баланс задолженности: ${fmtAmt(data.total_balance)}\nПросроченная задолженность: ${fmtAmt(data.overdue_amount)}\n\nДокументы к оплате:\n${docLines}\n\nТребования:\n- Обращение по названию компании или \"Уважаемые коллеги\"\n- Перечислить конкретные УПД с датами и суммами\n- Указать общую сумму к оплате\n- Попросить об оплате в ближайшее время\n- Указать готовность к диалогу\n- Подпись: Менеджер ООО \"ТК ВЕЛЕС\"\n- Вернуть только текст письма, без пояснений`;\n\nconst requestBody = JSON.stringify({\n  model: 'llama-3.3-70b-versatile',\n  max_tokens: 1024,\n  messages: [\n    { role: 'system', content: 'Ты помощник менеджера транспортной компании. Пишешь деловые письма на русском языке.' },\n    { role: 'user',   content: prompt }\n  ]\n});\n\nreturn [{ json: { requestBody } }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_YOUR_GROQ_API_KEY" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const resp = $json;\nconst text = resp?.choices?.[0]?.message?.content || resp?.error?.message || '';\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Build Request",      "type": "main", "index": 0 } ]]
    },
    "Build Request": {
      "main": [[ { "node": "Groq API",            "type": "main", "index": 0 } ]]
    },
    "Groq API": {
      "main": [[ { "node": "Extract Text",        "type": "main", "index": 0 } ]]
    },
    "Extract Text": {
      "main": [[ { "node": "Respond to Webhook",  "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
