n8n_save_comment.json
{
  "name": "save-comment",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "save-comment",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Extract Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const b = $json.body || {};\nconst now = new Date();\nconst date = now.toLocaleDateString('ru-RU', { timeZone: 'Europe/Moscow', day:'2-digit', month:'2-digit', year:'numeric' });\nconst updated_at = now.toLocaleString('ru-RU', { timeZone: 'Europe/Moscow', day:'2-digit', month:'2-digit', year:'numeric', hour:'2-digit', minute:'2-digit', second:'2-digit' });\nreturn [{ json: {\n  client_name: (b.client_name || '').trim(),\n  comment:     (b.comment     || '').trim(),\n  login:       (b.login       || '').trim(),\n  date,\n  updated_at\n}}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Upsert Comment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 160],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ", "mode": "id" },
        "sheetName": { "__rl": true, "value": "manager_comments", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": [],
          "matchingColumns": ["client_name"]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Prepare History Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420],
      "parameters": {
        "jsCode": "const comment = $json.comment || '';\nif (!comment) return [];\nreturn [{ json: {\n  date:        $json.date,\n  client_name: $json.client_name,\n  comment,\n  login:       $json.login\n}}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Append History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 420],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ", "mode": "id" },
        "sheetName": { "__rl": true, "value": "manager_comments_history", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Extract Body", "type": "main", "index": 0 } ]]
    },
    "Extract Body": {
      "main": [[
        { "node": "Upsert Comment",      "type": "main", "index": 0 },
        { "node": "Prepare History Row", "type": "main", "index": 0 }
      ]]
    },
    "Upsert Comment": {
      "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]]
    },
    "Prepare History Row": {
      "main": [[ { "node": "Append History", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
