n8n_get_comment_history.json
{
  "name": "get-comment-history",
  "nodes": [
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "get-comment-history",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Fetch History CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://docs.google.com/spreadsheets/d/1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ/export?format=csv&gid=196280710",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Parse and Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const client = $('Webhook').first().json.query?.client || '';\nconst csvText = $json.data || '';\n\nfunction splitLine(line) {\n  const res = []; let cur = '', inQ = false;\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n    if (c === '\"') { if (inQ && line[i+1]==='\"') { cur+='\"'; i++; } else inQ=!inQ; }\n    else if (c === ',' && !inQ) { res.push(cur); cur=''; }\n    else cur += c;\n  }\n  res.push(cur);\n  return res;\n}\n\nconst lines = csvText.trim().split(/\\r?\\n/);\nif (lines.length < 2) return [{ json: { items: [] } }];\n\nconst hdr = splitLine(lines[0]).map(h => h.trim());\nconst rows = lines.slice(1).map(line => {\n  const cells = splitLine(line);\n  const obj = {};\n  hdr.forEach((h, i) => { obj[h] = (cells[i] || '').trim(); });\n  // Если в таблице дублирующиеся client_name (client_name.1 и т.п.) — берём первое непустое\n  if (!obj.client_name) {\n    const fallback = Object.keys(obj).find(k => k.startsWith('client_name') && obj[k]);\n    if (fallback) obj.client_name = obj[fallback];\n  }\n  return obj;\n}).filter(r => Object.values(r).some(v => v));\n\nconst filtered = client ? rows.filter(r => r.client_name === client) : rows;\n\nreturn [{ json: { items: filtered } }];"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.items) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Fetch History CSV",  "type": "main", "index": 0 } ]]
    },
    "Fetch History CSV": {
      "main": [[ { "node": "Parse and Filter",   "type": "main", "index": 0 } ]]
    },
    "Parse and Filter": {
      "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
