n8n_get_comment_history.json
{
  "name": "get-comment-history",
  "nodes": [
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "get-comment-history",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Read History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "manager_comments_history",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Filter by Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const client = $('Webhook').first().json.query?.client || '';\nconst all = $input.all().map(i => i.json);\nconst filtered = client\n  ? all.filter(r => r.client_name === client)\n  : all;\n// Всегда возвращаем один элемент чтобы Respond to Webhook запустился\nreturn [{ json: { items: filtered } }];"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Read History",       "type": "main", "index": 0 } ]]
    },
    "Read History": {
      "main": [[ { "node": "Filter by Client",   "type": "main", "index": 0 } ]]
    },
    "Filter by Client": {
      "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
