n8n_generate_email.json
{
  "name": "generate-email",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-email",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const data = $json.body;\nconst style = data.style || 'официальный';\n\n// Форматируем суммы с копейками\nconst fmtAmt = n => {\n  if (!n && n !== 0) return '0,00 рублей';\n  return n.toLocaleString('ru-RU', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' рублей';\n};\n\nconst docLines = (data.docs || []).map(d => {\n  let line = `- УПД № ${d.doc_num} от ${d.doc_date}`;\n  if (d.due_date) line += ` (срок оплаты: ${d.due_date})`;\n  line += ` на сумму ${fmtAmt(d.amount)}`;\n  if (d.over_amt > 0) line += ` — просрочено ${d.days_overdue} дн.`;\n  return line;\n}).join('\\n') || '- документы не указаны';\n\nconst totalFmt   = fmtAmt(data.total_balance);\nconst overFmt    = fmtAmt(data.overdue_amount);\nconst hasOverdue = data.overdue_amount > 0;\n\nconst styleInstructions = {\n  'мягкий': `Тон: вежливое первое напоминание. Предположи, что оплата задержалась по техническим причинам. Без угроз и последствий. Попроси уточнить сроки оплаты.`,\n  'официальный': `Тон: официально-деловой, нейтральный. Только факты: задолженность, документы, сумма, срок. Попроси оплатить до конца текущей недели.`,\n  'строгий': `Тон: строгий, настойчивый. Обязательно укажи последствия задержки оплаты:\n- простой вагонов на станции отправления\n- начисление платы за простой 3 000 руб./сутки за вагон (с НДС 20%)\n- невозможность пополнить ЕЛС в АС ЭТРАН и оформить отправку маршрута\n- срыв графика маршрутных отправок\nПотребуй оплатить сегодня или до конца текущего дня.`\n};\n\nconst prompt = `Ты — менеджер ООО «ТК «Велес», транспортная компания (железнодорожные перевозки сыпучих грузов).\nНапиши письмо-напоминание об оплате задолженности клиенту ${data.client_name}.\n\n${styleInstructions[style] || styleInstructions['официальный']}\n\nДанные по задолженности:\nОбщая сумма к оплате: ${totalFmt}\n${hasOverdue ? `Просроченная задолженность: ${overFmt}` : 'Просроченной задолженности нет'}\n\nДокументы:\n${docLines}\n\nПравила написания письма:\n1. Открой письмо фразой: «ООО «ТК «Велес» выражает признательность за долгосрочное и результативное сотрудничество.»\n2. Перечисли все УПД с точными суммами и датами — без округлений\n3. Укажи точную итоговую сумму к оплате\n4. Пиши конкретно и кратко — без общих слов и AI-клише\n5. Не используй фразы: «надеемся что письмо найдёт вас», «не стесняйтесь обращаться», «мы ценим каждого клиента»\n6. Подпись: Менеджер ООО «ТК «Велес»\n7. Только текст письма — никаких пояснений, заголовков, markdown-разметки\n8. Только русский язык, только кириллица`;\n\nconst requestBody = JSON.stringify({\n  model: 'llama-3.3-70b-versatile',\n  max_tokens: 1500,\n  messages: [\n    { role: 'system', content: 'Ты опытный менеджер транспортной компании. Пишешь чёткие деловые письма на русском языке без воды и AI-клише.' },\n    { role: 'user',   content: prompt }\n  ]\n});\n\nreturn [{ json: { requestBody } }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_YOUR_GROQ_API_KEY" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const resp = $json;\nconst text = resp?.choices?.[0]?.message?.content || resp?.error?.message || '';\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Build Request",      "type": "main", "index": 0 } ]]
    },
    "Build Request": {
      "main": [[ { "node": "Groq API",            "type": "main", "index": 0 } ]]
    },
    "Groq API": {
      "main": [[ { "node": "Extract Text",        "type": "main", "index": 0 } ]]
    },
    "Extract Text": {
      "main": [[ { "node": "Respond to Webhook",  "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
