n8n_daily_report.json
{
  "name": "daily-report-17:00",
  "nodes": [
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000001",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000002",
      "name": "Fetch Debt CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "https://docs.google.com/spreadsheets/d/1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ/export?format=csv&gid=1164788937",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000003",
      "name": "Read Comments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 400],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "manager_comments",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000004",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "// Получаем CSV текст\nconst csvText = $('Fetch Debt CSV').first().json.data || '';\n\n// Получаем комментарии\nconst comments = {};\n$('Read Comments').all().forEach(item => {\n  const r = item.json;\n  if (r.client_name) comments[r.client_name] = { comment: r.comment || '', login: r.login || '' };\n});\n\n// Парсим CSV\nfunction splitLine(line) {\n  const res = []; let cur = '', inQ = false;\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n    if (c === '\"') { if (inQ && line[i+1]==='\"') { cur+='\"'; i++; } else inQ=!inQ; }\n    else if (c === ',' && !inQ) { res.push(cur); cur=''; }\n    else cur += c;\n  }\n  res.push(cur);\n  return res;\n}\n\nconst lines = csvText.trim().split(/\\r?\\n/);\nif (lines.length < 2) return [];\n\nconst hdr = splitLine(lines[0]);\nconst idxDate    = hdr.indexOf('as_of_date');\nconst idxClient  = hdr.indexOf('client_name');\nconst idxOver    = hdr.indexOf('overdue_amount');\nconst idxDays    = hdr.indexOf('days_overdue');\nconst idxCredit  = hdr.indexOf('credit_days_from_registry');\nconst idxDocNum  = hdr.indexOf('doc_number');\nconst idxDocDate = hdr.indexOf('doc_date');\nconst idxBalance = hdr.indexOf('balance');\n\n// Берём последнюю дату\nconst allDates = lines.slice(1).map(l => splitLine(l)[idxDate]).filter(Boolean).sort();\nconst snap = allDates[allDates.length - 1] || '';\nconst today = new Date().toLocaleDateString('ru-RU', { day:'2-digit', month:'2-digit', year:'numeric' });\n\n// Группируем просроченные по клиентам\nconst clientMap = {};\nlines.slice(1).forEach(line => {\n  const cells = splitLine(line);\n  if (!cells.length || cells[idxDate] !== snap) return;\n  const overAmt = parseFloat((cells[idxOver]||'0').replace(',','.')) || 0;\n  if (overAmt <= 0) return;\n  const client = cells[idxClient] || '';\n  if (!client) return;\n  if (!clientMap[client]) clientMap[client] = { overdue: 0, maxDays: 0 };\n  clientMap[client].overdue += overAmt;\n  const days = parseFloat((cells[idxDays]||'0').replace(',','.')) || 0;\n  const credit = parseFloat((cells[idxCredit]||'0').replace(',','.')) || 0;\n  const actual = Math.max(0, days - credit);\n  if (actual > clientMap[client].maxDays) clientMap[client].maxDays = actual;\n});\n\n// Строим строки отчёта и истории\nconst reportRows = [];\nconst historyRows = [];\n\nObject.entries(clientMap).sort((a,b) => b[1].overdue - a[1].overdue).forEach(([client, info]) => {\n  const cm = comments[client] || { comment: '', login: '' };\n  reportRows.push({ json: {\n    report_date:    today,\n    client_name:    client,\n    overdue_amount: info.overdue.toFixed(2),\n    days_overdue:   info.maxDays,\n    comment:        cm.comment,\n    login:          cm.login\n  }});\n  if (cm.comment) {\n    historyRows.push({ json: {\n      date:        today,\n      client_name: client,\n      comment:     cm.comment,\n      login:       cm.login\n    }});\n  }\n});\n\n// Возвращаем всё в одном объекте\nreturn [{ json: { reportRows, historyRows, hasData: reportRows.length > 0 } }];"
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Save to daily_report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 200],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "daily_report",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "report_date":    "={{ $json.reportRows.map(r => r.json.report_date).join(',') }}",
            "client_name":    "={{ $json.reportRows.map(r => r.json.client_name).join(',') }}",
            "overdue_amount": "={{ $json.reportRows.map(r => r.json.overdue_amount).join(',') }}",
            "days_overdue":   "={{ $json.reportRows.map(r => r.json.days_overdue).join(',') }}",
            "comment":        "={{ $json.reportRows.map(r => r.json.comment).join(',') }}",
            "login":          "={{ $json.reportRows.map(r => r.json.login).join(',') }}"
          },
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000006",
      "name": "Save to History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 400],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "manager_comments_history",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date":        "={{ $json.historyRows.map(r => r.json.date).join(',') }}",
            "client_name": "={{ $json.historyRows.map(r => r.json.client_name).join(',') }}",
            "comment":     "={{ $json.historyRows.map(r => r.json.comment).join(',') }}",
            "login":       "={{ $json.historyRows.map(r => r.json.login).join(',') }}"
          },
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-000000000007",
      "name": "Clear Comments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 560],
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "manager_comments",
          "mode": "name"
        },
        "range": "A2:Z10000",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          { "node": "Fetch Debt CSV",  "type": "main", "index": 0 },
          { "node": "Read Comments",   "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Debt CSV": {
      "main": [[ { "node": "Build Report", "type": "main", "index": 0 } ]]
    },
    "Read Comments": {
      "main": [[ { "node": "Build Report", "type": "main", "index": 0 } ]]
    },
    "Build Report": {
      "main": [
        [
          { "node": "Save to daily_report", "type": "main", "index": 0 },
          { "node": "Save to History",      "type": "main", "index": 0 },
          { "node": "Clear Comments",       "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
