n8n_get_comments.json
{
  "name": "get-comments",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "get-comments",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1D9-uViFll7h3SUT01lvlHKTF0VnQCx46h8569zSpaCQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "manager_comments",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: item.json }));"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
